<ion-menu side="start" menuId="main-menu" contentId="main-menu-content" persistent=true>
  <ion-header>
    <ion-toolbar> 
      <ion-avatar>
        <img [src]="userphoto">
      </ion-avatar>
      <div class="nameAndLogin">
        <ion-label id="userName">{{userName}}</ion-label>
        <ion-label id="userLogin">{{userEmail}}</ion-label>
      </div>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-menu-toggle auto-hide="false" >
        <ion-item-group>
          <ion-item lines="none" (click)="logout()">
            <ion-icon slot="start" name="log-out"></ion-icon>
            <ion-label>Sair</ion-label>
          </ion-item>
        </ion-item-group>
      </ion-menu-toggle>
    </ion-list>
  </ion-content>
</ion-menu>
