<ion-content>
  <!-- <ion-grid>
    <ion-row>
      <ion-col>
        <ion-list lines="none">
          <ion-item>
            <h1>Bem-Vindo</h1>
          </ion-item>
          <ion-item>
            <p>Para interagir com o aplicativo, faça login usando o Github.</p>
          </ion-item>
          <ion-item class="button">
            <ion-button (click)="githubLogin()">Continuar com Github</ion-button>
          </ion-item>
        </ion-list>  
      </ion-col>
    </ion-row>
  </ion-grid> -->

  <!-- <ion-grid>
    <ion-row>
      <ion-item>
        <h1>Bem-Vindo</h1>
      </ion-item>
    </ion-row>
    <ion-row>
      <ion-item>
        <p>Para interagir com o aplicativo, faça login usando o Github.</p>
      </ion-item>
    </ion-row>
    <ion-row>
      <ion-item class="button">
        <ion-button (click)="githubLogin()">Continuar com Github</ion-button>
      </ion-item>
    </ion-row>
  </ion-grid> -->
  
  <ion-item class="title" lines="none">
    <h1>Welcome</h1>
  </ion-item>
  <ion-item class="description" lines="none">
    <p>In order to interact with Gist, you have to log in with Github by hitting the button below.
    </p>
  </ion-item>
  <ion-item class="button" lines="none">
    <ion-button (click)="githubLogin()">
      <ion-icon name="logo-github"></ion-icon>
      Sign in with Github
    </ion-button>
  </ion-item>

  <!-- <ion-grid>
    <ion-row>
      <ion-item>
        <h1>Bem-Vindo</h1>
      </ion-item>
    </ion-row>
    <ion-row>
      <ion-item>
        <p>Para interagir com o aplicativo, faça login usando o Github.</p>
      </ion-item>
    </ion-row>
    <ion-row>
      <ion-item class="button">
        <ion-button (click)="githubLogin()">Continuar com Github</ion-button>
      </ion-item>
    </ion-row>
  </ion-grid> -->
</ion-content>
