<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/root/home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content #content scrollEvents="true">
  <ng-container *ngIf="dataIsLoaded">
    <ion-fab vertical="center" horizontal="end" slot="fixed" *ngIf="!atBottom">
      <ion-fab-button size="small" (click)="goToPageBottom()">
        <ion-icon name="chatbubble"></ion-icon>
      </ion-fab-button>
    </ion-fab>
    <ion-item lines="none">
      <div class="nameAndPhotoAndDate">
        <div class="nameAndPhoto">
          <ion-thumbnail class="ownerThumbnail">
            <ion-img [src]="gistData.owner.avatar_url"></ion-img>
          </ion-thumbnail>
          <h1 class="userName">
            <span>
              {{gistData.owner.name}}
            </span>
            <span>
              / 
            </span>
            <span>
              {{gistData.file_title}}
            </span>
          </h1>
        </div>
        <h2 class="createdAt">
          <span>
            created on {{gistData.created_at | date: 'longDate'}}
          </span>
        </h2>
      </div>
    </ion-item>
      <ion-list class="filesList" lines="none">
        <ion-item *ngFor="let file of gistData.files">
          <div class="fileNameAndType">
            <h1 class="fileName">{{file.file_name}}</h1>
            <h2 class="fileType">{{file.type}}</h2>
          </div>
        </ion-item>
      </ion-list>
      <ion-list class="commentsList" lines="none">
        <ion-item *ngFor="let comment of gistData.comments">
          <div class="commentsAvatars">
            <ion-thumbnail class="commentsThumbnails">
              <ion-img [src]="comment.user.avatar_url"></ion-img>
            </ion-thumbnail>
          </div>
          <div class="bodyWrapper">
            <div class="commentsHead">
              <span class="commentName">{{comment.user.name}}, </span>
              <span> on {{comment.created_at | date: 'longDate'}}</span>
            </div>
            <div class="commentsBody">
              <p>{{comment.body}}</p>
            </div>
          </div>
        </ion-item>
      </ion-list>
      <ion-item-divider>
      </ion-item-divider>

      <ion-item lines="none">
        <div class="commentsAvatars">
          <ion-thumbnail class="commentsThumbnails">
            <ion-img [src]="userPhoto"></ion-img>
          </ion-thumbnail>
        </div>
        <div class="bodyWrapper">
          <div class="commentsHead">
            <span class="commentName">leave a comment</span>
          </div>
          <div class="commentsBody userCommentArea">
            <ion-textarea inputmode="text" placeholder="..." [(ngModel)]="comment"></ion-textarea>
          </div>
        </div>
      </ion-item>
      <ion-item lines="none">
        <ion-button slot="end" [disabled]="!isCommented()" (click)="postComment()">
          Comment
        </ion-button>
      </ion-item>
  </ng-container>
  
  <!-- skeleton -->
  <ng-container *ngIf="!dataIsLoaded">
    <ion-item lines="none">
      <div class="nameAndPhotoAndDate">
        <div class="nameAndPhoto">
          <ion-thumbnail class="ownerThumbnail">
            <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
          </ion-thumbnail>
          <ion-skeleton-text animated style="width: 80%" class="userName"></ion-skeleton-text>
        </div>
        <ion-skeleton-text animated style="width: 40%" class="createdAt"></ion-skeleton-text>
      </div>
    </ion-item>
    <ion-list class="filesList" lines="none">
      <ion-item *ngFor="let file of [0, 1, 2, 3, 4]">
        <div style="width: 100%">
          <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
          <ion-skeleton-text animated style="width: 40%"></ion-skeleton-text>
        </div>
      </ion-item>
    </ion-list>
    <ion-list class="commentsList" lines="none">
      <ion-item *ngFor="let comment  of [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]">
        <div class="commentsAvatars">
          <ion-thumbnail class="commentsThumbnails">
            <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
          </ion-thumbnail>
        </div>
        <div class="bodyWrapper">
          <div class="commentsHead">
            <!-- <span class="commentName">{{comment.user.name}}, </span> -->
            <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
            <!-- <span> on {{comment.created_at | date: 'longDate'}}</span> -->
            <ion-skeleton-text animated style="width: 40%"></ion-skeleton-text>
          </div>
          <div class="commentsBody">
            <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
          </div>
        </div>
      </ion-item>
    </ion-list>
  </ng-container>

</ion-content>
