ion-toolbar {
    --background: black;
}

ion-back-button {
    --color: white;
}

ion-thumbnail {
    --border-radius: 50%;
    --size: 33px;
}

.nameAndPhoto {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.nameAndPhotoAndDate {
    margin-top: 10px;
    width: 100%;
}


.fileTitle {
    margin-top: 20px;
    font-size: 22px;
}

.filesList {
    padding-top: 0;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 20px;
    background: #F6F8FA;
    border-radius: 10px;
    border: 1px;
    border-style: solid;
    border-color: #d1d5da;
}

// para todos os ion-item dentro de fileList
.filesList > ion-item{
    --background: #F6F8FA;
}

.userName {
    margin-left: 5px;
    font-size: 28px;
    font-weight: bold;
}

.userName, .commentName {
    color: #222831;
}

.commentName {
    font-weight: bold;
}

.bodyWrapper {
    margin-left: 15px;
    width: 100%;
    word-break: break-word;
}

.commentsHead {
    background: #F6F8FA;
    border: 1px;
    border-style: solid;
    border-color: #d1d5da;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
}

.commentsBody {
    border: 1px;
    border-style: solid;
    border-color: #d1d5da;
    border-top: 0;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
}

.createdAt, h2, .fileTitle, .commentsHead, .commentsBody {
    color: #586069;
}


h1, h2 {
    margin: 0;
    
}

h1 {
    font-size: 20px;
    font-weight: bold;
    color: #2ea44f;
}

h2 {
    font-size: 16px;
    margin-left: 5px;
}

.fileNameAndType {
    margin-top: 5px;
    margin-bottom: 10px;
}

.commentsList > ion-item {
    display: flex;
    align-items: flex-start;
    margin-top: 15px;
    margin-bottom: 15px;
}

p {
    margin-top: 10px;
}

.commentsBody, .commentsHead {
    padding: 8px;
}

ion-item-divider {
    margin-bottom: 30px;
}

.userCommentArea {
    height: 120px;
}

ion-button {
    text-transform: none;
    --background: #2ea44f;
    height: 35px;
    width: 90px;
    font-size: 14px;
}

ion-fab-button {
    --background: #2ea44f;
  }